<!--
  Generated template for the CreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Dashbord</ion-title>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>