<!--
  Generated template for the EditViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>edit_view</ion-title>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>

        <ion-item-sliding>
            <ion-item (swipe)="swipeAction($event, 0)">
                <h4 ion-text color="primary">Title</h4>
                <p> text description</p>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button color="danger">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="primary" (click)="clickAction($event,'0')">
              <ion-icon name="create"></ion-icon>
              Edit
            </button>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
            <ion-item (swipe)="swipeAction($event,'1')">
                <h4 ion-text color="primary">Title1</h4>
                <p> text description1</p>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button color="danger">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="primary" (click)="clickAction($event,'1')">
              <ion-icon name="create"></ion-icon>
              Edit
            </button>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
            <ion-item (swipe)="swipeAction($event,'2')">
                <h4 ion-text color="primary">Title2</h4>
                <p> text description2</p>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button color="danger">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="primary" (click)="clickAction($event,'2')">
              <ion-icon name="create"></ion-icon>
              Edit
            </button>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
            <ion-item (swipe)="swipeAction($event,'3')">
                <h4 ion-text color="primary">Title3</h4>
                <p> text description3</p>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button color="danger">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="primary" (click)="clickAction($event,'3')">
              <ion-icon name="create"></ion-icon>
              Edit
            </button>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>


</ion-content>