<!--
  Generated template for the EditDetialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Edit Detail</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <p> get item value </p>
    <p>{{value}}</p>

</ion-content>